@font-face {
	font-family: 'Jost';
    src: local("Jost Medium"), 
	    url('../../fonts/jost/Jost-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/jost/Jost-Medium.woff2') format('woff2'),
		url('../../fonts/jost/Jost-Medium.woff') format('woff'),
		url('../../fonts/jost/Jost-Medium.ttf') format('truetype'),
		url('../../fonts/jost/Jost-Medium.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Jost';
	src: local("Jost Regular"),
		url('../../fonts/jost/Jost-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/jost/Jost-Regular.woff2') format('woff2'),
		url('../../fonts/jost/Jost-Regular.woff') format('woff'),
		url('../../fonts/jost/Jost-Regular.ttf') format('truetype'),
		url('../../fonts/jost/Jost-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Jost';
	src: local("Jost SemiBold"),
		url('../../fonts/jost/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/jost/Jost-SemiBold.woff2') format('woff2'),
		url('../../fonts/jost/Jost-SemiBold.woff') format('woff'),
		url('../../fonts/jost/Jost-SemiBold.ttf') format('truetype'),
		url('../../fonts/jost/Jost-SemiBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Jost';
	src: local("Jost Bold"),
		url('../../fonts/jost/Jost-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/jost/Jost-Bold.woff2') format('woff2'),
		url('../../fonts/jost/Jost-Bold.woff') format('woff'),
		url('../../fonts/jost/Jost-Bold.ttf') format('truetype'),
		url('../../fonts/jost/Jost-Bold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}