body footer {
	background-color: $black;
	padding: 60px;
	display: block;
	float: left;
	width: 100%;
	@include media-breakpoint-down(sm) {
		padding: 40px;
	}
	.footer-top {
		margin-bottom: 1rem;
		li {
			@include button;
			background-color: $white;
			a {
				color: $black;
			}
			&:nth-child(1) {
				background-color: $white;
			}
			&:nth-child(2) {
				background-color: $white;
			}
		}
	}
	.footer-left {
		color: $footer-text;
		li {
			list-style: none;
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			line-height: 2;
			a {
				@include underliner;
				color: $footer-text;
				&:hover {
					color: $footer-text;
				}
				&::after {
					background-color: $footer-text;
				}
			}
		}
	}
	.footer-right {
		.footer-social-wrapper {
			justify-content: end;
			float: right;
			margin-bottom: 1rem;
			width: 100%;			
			a {
				background-color: $footer-text;
			}			
		}
		.footer-pac {
			color: $footer-text;
			padding: 1rem;
			border: 1px solid $footer-text;
			justify-content: end;
			font-size: 12px;
			float: right;
			margin-bottom: 1rem;
		}
		.footer-copyright {
			color: $footer-text;
			justify-content: end;
			font-size: 1.4rem;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			font-family: $font-family-sans-serif;
			float: right;
			margin-bottom: 1rem;
			@include media-breakpoint-down(sm) {
				text-align: center;
				width: 100%;
			}
		}
		.to-the-top {
			float: right;
			margin-bottom: 0.4rem;
			font-weight: $font-weight-bold;
			color: $footer-text;
			width: 100%;
			text-align: right;
			width: 100%;
			@include media-breakpoint-down(sm) {
				text-align: center;
				margin: 2rem 0;
			}
		}
		.social-menu {
			margin-top: 0.5rem;
			justify-content: flex-end;
			li {
				margin-top: 0;
				a svg {
					height: 28px;
					width: 28px;
					@include media-breakpoint-down(sm) {
						height: 24px;
						width: 24px;
					}
				}
			}
			@include media-breakpoint-down(sm) {
				margin: auto;
				justify-content: center;
			}
		}
	}
}
.footer-nav-block {
	float: left;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
	.block {
		padding: 120px 0;
		@include media-breakpoint-down(sm) {
			padding: 40px 0;
			span {
				transition: 0.4s all;
				&:after {
					transition: 0.4s all;
					width: 100% !important;
				}
			}
		}
		justify-content: center;
		align-items: center;
		color: $white;
		font-weight: $font-weight-bold;
		font-family: $font-family-serif;
		text-align: center;
		font-size: 1.67rem;
		transition: 0.4s all;
		span {
			@include underliner;
		}
		&:hover {
			cursor: pointer;
			text-decoration: none;
			@include interior-shadow;
			transition: 0.4s all;
			span {
				transition: 0.4s all;
				&:after {
					transition: 0.4s all;
					width: 100%;
				}
			}
		}
	}
	.block-1 {
		background-color: $dark-green;
		span {
			&:after {
				background-color: $white;
			}
		}
	}
	.block-2 {
		background-color: $main-green;
		color: $white;
		span {
			&:after {
				background-color: $white;
			}
		}
	}
	.block-3 {
		background-color: $gray-800;
		color: $white;
		span {
			&:after {
				background-color: $white;
			}
		}
	}
}
